In [10]:
#for loop used to 
abc = ["hansa", "tanu", "bugu"]
for h in abc:
  print(h)

hansa
tanu
bugu

In [11]:
#userd to break to for loop  used to last break  
xyz = ["hansa", "tanu", "hardik"]
for a in xyz:
  print(a)
  if a == "tanu":
    break

hansa
tanu

In [17]:
#the for loop used to printf function fisrt break
xyz = ["hansa", "tanu", "hardik"]
for a in xyz:
  if a == "tanu":   
      break
  print(a)

hansa

In [19]:
#continue used 
a= ["tanu", "hardik", "sagar"]
for b in a:
  if b== "hardik":
    continue
  print(b)

tanu
sagar

In [21]:
#used to range function
for a in range(6):
  print(a)

0
1
2
3
4
5

In [22]:
#Increment the sequence with 3 (default is 1): range function
for a in range(2, 30, 3):
    print(a)

2
5
8
11
14
17
20
23
26
29

In [2]:
x=['a','b','c']
for i in 'b':
    print(i)
    break

b