In [28]:
#crete variable
a=10   #int
b="hansa"   #string
print(a)
print(b)
print(type(a)) #print type 
print(type(b))
        # string single or double coution used 
x="hansa gangoda"
y='tanu  patel'
print(x)
print(y)
#crete varible name
_hansa="tanu"
print(_hansa)
h_ansa="class"
print(h_ansa)
_123h=123
print(_123h)
hnasa_='hansa'
print(hnasa_)
         #create varible to capitalaze vaireble name
MyName = "John"
print(MyName)
               #maltiple value of variable
x, y, z = "class", "student", "teacher"
print(x)
print(y)
print(z)
#create variable
x = 5
y = "priti"
print(x)
print(y)
#crete string datatype 
a = "Hello World" 
print(type(a))
b = 20
print(type(b))
c = 20.5
print(type(c))
d= 1j
print(type(d))
e = ["apple", "banana", "cherry"] 
print(type(e))
f = ("apple", "banana", "cherry") 
print(type(f))
g = range(6)
print(type(g))
h = {"name" : "John", "age" : 36}
print(type(h))
i = {"apple", "banana", "cherry"}
print(type(i))
j= frozenset({"apple", "banana", "cherry"})
print(type(j))
k= True 
print(type(k))
l= b"Hello" 
print(type(l))
m = bytearray(5) 
print(type(m))
n= memoryview(bytes(5)) 
print(type(n))
s = None
print(type(s))
      #number datatype
x = 1  
type(x)
y = 2.8 
# f
z = 1j   # complex

10
hansa
<class 'int'>
<class 'str'>
hansa gangoda
tanu  patel
tanu
class
123
hansa
John
class
student
teacher
5
priti
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>