In [3]:
#program 1 varible define and print value(input define function )
namevar=input("please enter string value::");
print(namevar)

please enter string value:: hansa

hansa

In [4]:
# program 2. natural number print
nstr=input("please enter value:::")
n=int(nstr)
sum=n*(n+1)/2
print(sum)

please enter value::: 12

78.0

In [11]:
#program 3. adding two numbers using  arithmetic oprator
num1=input("please enter a number1:");
num2=input("\nplease enter a number2");
add=float(num1)+float(num2)
print("your ansewer:",add)

please enter a number1: 20

please enter a number2 30

your ansewer: 50.0

In [12]:
#program 3. adding two numbers arithmetic opratos
number1=input("first number:")
number2=input("\nsecond number:")
sum=int(number1)+int(number2)
print("the sum of  two number",sum)

first number: 10

second number: 20

the sum of  two number 30

In [13]:
#program 4 maximun two numbers print if else statament
def maximum(a,b):
    if a>=b:
        return a
    else:
        return b
a=input("enter first number:")
b=input("enter second number")
print(a)
print(b)

enter first number: 12
enter second number 15

12
15

In [15]:
#varible difene user 
namevar="hansa gangoda";
print(namevar)

hansa gangoda

In [39]:
#prime number is print program 5.
num1=input()
num=int(num1)
if num>1:
    for i in range(2,int(num/2)+1):  #syntax to prime number
        if(num%i)==0:
            print(num,"is not a prime number")
            break
    else:
        print(num,"is a prime number")
else:
      print(num,"is not prime")

 3

3 is a prime number

In [1]:
    
    
     for i in :
        
        i=input("enter the string")
        print("leagth of string",i)

TypeError: 'method' object is not iterable

In [40]:
#string concatenating program 7. 8.
a1="hansa"
a2="gangoda"
a3=a1+a2
print(a3)

hansagangoda