In [5]:
#program 1. using print function to int , float, string ,bool value define
print(19+12)
print(12)
print(20.10)
print("hello")
print(10 > 9)
print(10 == 9)
print(10 < 9)

31
12
20.1
hello
True
False
False

In [1]:
#natural number print
natural_number=12
sum=0
for i in range(natural_number,-1,-1):
  sum=sum+i
print("the total sun of",natural_number,"natural_number is:",sum)

the total sun of 12 natural_number is: 78

In [1]:
f1=['apple','banana','cherry']
f1.reverse()
print(f1)

['cherry', 'banana', 'apple']

In [2]:
l1=[10,20,30,40,50]
print(l1[2:4:])

[30, 40]

In [3]:
l3=[10,20,30,40,50]
print(l3[:2:-1])

[50, 40]